<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Option 1</mat-radio-button>
                <mat-radio-button value="2">Option 2</mat-radio-button>
                <mat-radio-button value="2">Option 3</mat-radio-button>
            </mat-radio-group>

            <h2 style="margin:15px;">Welcome Sunny!(9876543210)</h2>
            <a style="margin:15px;" href="#">Edit Name</a><span>| </span> <a href="#"> Change Remitter</a>

            <div class="example-button-row">
                <h3 style="margin:15px;">Beneficiary Details</h3>
                <button style="background: #00B0F0;
                            ;" mat-flat-button color="primary"> + Add</button>
            </div>


        </div>

        <div class="col-md-1"></div>
    </div>

</div>